--
-- PostgreSQL database dump
--

-- Dumped from database version 13.4 (Debian 13.4-1.pgdg110+1)
-- Dumped by pg_dump version 13.4 (Debian 13.4-1.pgdg110+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: batch_job_execution; Type: TABLE; Schema: public; Owner: rmuser
--

CREATE TABLE public.batch_job_execution (
    job_execution_id bigint NOT NULL,
    version bigint,
    job_instance_id bigint NOT NULL,
    create_time timestamp without time zone NOT NULL,
    start_time timestamp without time zone,
    end_time timestamp without time zone,
    status character varying(10),
    exit_code character varying(2500),
    exit_message character varying(2500),
    last_updated timestamp without time zone,
    job_configuration_location character varying(2500)
);


ALTER TABLE public.batch_job_execution OWNER TO rmuser;

--
-- Name: batch_job_execution_context; Type: TABLE; Schema: public; Owner: rmuser
--

CREATE TABLE public.batch_job_execution_context (
    job_execution_id bigint NOT NULL,
    short_context character varying(2500) NOT NULL,
    serialized_context text
);


ALTER TABLE public.batch_job_execution_context OWNER TO rmuser;

--
-- Name: batch_job_execution_params; Type: TABLE; Schema: public; Owner: rmuser
--

CREATE TABLE public.batch_job_execution_params (
    job_execution_id bigint NOT NULL,
    type_cd character varying(6) NOT NULL,
    key_name character varying(100) NOT NULL,
    string_val character varying(250),
    date_val timestamp without time zone,
    long_val bigint,
    double_val double precision,
    identifying character(1) NOT NULL
);


ALTER TABLE public.batch_job_execution_params OWNER TO rmuser;

--
-- Name: batch_job_execution_seq; Type: SEQUENCE; Schema: public; Owner: rmuser
--

CREATE SEQUENCE public.batch_job_execution_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.batch_job_execution_seq OWNER TO rmuser;

--
-- Name: batch_job_instance; Type: TABLE; Schema: public; Owner: rmuser
--

CREATE TABLE public.batch_job_instance (
    job_instance_id bigint NOT NULL,
    version bigint,
    job_name character varying(100) NOT NULL,
    job_key character varying(32) NOT NULL
);


ALTER TABLE public.batch_job_instance OWNER TO rmuser;

--
-- Name: batch_job_seq; Type: SEQUENCE; Schema: public; Owner: rmuser
--

CREATE SEQUENCE public.batch_job_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.batch_job_seq OWNER TO rmuser;

--
-- Name: batch_step_execution; Type: TABLE; Schema: public; Owner: rmuser
--

CREATE TABLE public.batch_step_execution (
    step_execution_id bigint NOT NULL,
    version bigint NOT NULL,
    step_name character varying(100) NOT NULL,
    job_execution_id bigint NOT NULL,
    start_time timestamp without time zone NOT NULL,
    end_time timestamp without time zone,
    status character varying(10),
    commit_count bigint,
    read_count bigint,
    filter_count bigint,
    write_count bigint,
    read_skip_count bigint,
    write_skip_count bigint,
    process_skip_count bigint,
    rollback_count bigint,
    exit_code character varying(2500),
    exit_message character varying(2500),
    last_updated timestamp without time zone
);


ALTER TABLE public.batch_step_execution OWNER TO rmuser;

--
-- Name: batch_step_execution_context; Type: TABLE; Schema: public; Owner: rmuser
--

CREATE TABLE public.batch_step_execution_context (
    step_execution_id bigint NOT NULL,
    short_context character varying(2500) NOT NULL,
    serialized_context text
);


ALTER TABLE public.batch_step_execution_context OWNER TO rmuser;

--
-- Name: batch_step_execution_seq; Type: SEQUENCE; Schema: public; Owner: rmuser
--

CREATE SEQUENCE public.batch_step_execution_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.batch_step_execution_seq OWNER TO rmuser;

--
-- Name: product; Type: TABLE; Schema: public; Owner: rmuser
--

CREATE TABLE public.product (
    id character varying(20) NOT NULL,
    composition character varying(20),
    dominant_color integer[],
    gender_id character varying(3),
    photo character varying(150),
    sleeve character varying(20),
    title character varying(100) NOT NULL,
    url character varying(200)
);


ALTER TABLE public.product OWNER TO rmuser;

--
-- Data for Name: batch_job_execution; Type: TABLE DATA; Schema: public; Owner: rmuser
--

INSERT INTO public.batch_job_execution (job_execution_id, version, job_instance_id, create_time, start_time, end_time, status, exit_code, exit_message, last_updated, job_configuration_location) VALUES (1144, 2, 1076, '2021-10-10 09:51:11.207', '2021-10-10 09:51:11.247', '2021-10-10 09:51:12.899', 'COMPLETED', 'COMPLETED', '', '2021-10-10 09:51:12.9', NULL);
INSERT INTO public.batch_job_execution (job_execution_id, version, job_instance_id, create_time, start_time, end_time, status, exit_code, exit_message, last_updated, job_configuration_location) VALUES (1, 2, 1, '2021-10-03 17:22:07.662', '2021-10-03 17:22:07.7', '2021-10-03 17:22:07.742', 'FAILED', 'FAILED', '', '2021-10-03 17:22:07.743', NULL);
INSERT INTO public.batch_job_execution (job_execution_id, version, job_instance_id, create_time, start_time, end_time, status, exit_code, exit_message, last_updated, job_configuration_location) VALUES (408, 2, 340, '2021-10-08 13:44:52.857', '2021-10-08 13:44:52.898', '2021-10-08 13:44:54.707', 'COMPLETED', 'COMPLETED', '', '2021-10-08 13:44:54.707', NULL);


--
-- Data for Name: batch_job_execution_context; Type: TABLE DATA; Schema: public; Owner: rmuser
--

INSERT INTO public.batch_job_execution_context (job_execution_id, short_context, serialized_context) VALUES (1, '{"@class":"java.util.HashMap"}', NULL);
INSERT INTO public.batch_job_execution_context (job_execution_id, short_context, serialized_context) VALUES (34, '{"@class":"java.util.HashMap"}', NULL);
INSERT INTO public.batch_job_execution_context (job_execution_id, short_context, serialized_context) VALUES (67, '{"@class":"java.util.HashMap"}', NULL);


--
-- Data for Name: batch_job_execution_params; Type: TABLE DATA; Schema: public; Owner: rmuser
--

INSERT INTO public.batch_job_execution_params (job_execution_id, type_cd, key_name, string_val, date_val, long_val, double_val, identifying) VALUES (34, 'STRING', 'filePath', '/usr/api-service/res/products_test_short.csv', '1970-01-01 00:00:00', 0, 0, 'Y');
INSERT INTO public.batch_job_execution_params (job_execution_id, type_cd, key_name, string_val, date_val, long_val, double_val, identifying) VALUES (67, 'STRING', 'filePath', '/usr/api-service/res/products_test_short.csv', '1970-01-01 00:00:00', 0, 0, 'Y');
INSERT INTO public.batch_job_execution_params (job_execution_id, type_cd, key_name, string_val, date_val, long_val, double_val, identifying) VALUES (100, 'STRING', 'filePath', '/usr/api-service/res/products_test_short.csv', '1970-01-01 00:00:00', 0, 0, 'Y');


--
-- Data for Name: batch_job_instance; Type: TABLE DATA; Schema: public; Owner: rmuser
--

INSERT INTO public.batch_job_instance (job_instance_id, version, job_name, job_key) VALUES (1, 0, 'importProductJob', 'd41d8cd98f00b204e9800998ecf8427e');
INSERT INTO public.batch_job_instance (job_instance_id, version, job_name, job_key) VALUES (34, 0, 'importProductJob', '1158403a18aa1340d50c97a185fb65e0');
INSERT INTO public.batch_job_instance (job_instance_id, version, job_name, job_key) VALUES (67, 0, 'importProductJob', '7b23c24f8efabbc6865fc89ab4932ea5');


--
-- Data for Name: batch_step_execution; Type: TABLE DATA; Schema: public; Owner: rmuser
--

INSERT INTO public.batch_step_execution (step_execution_id, version, step_name, job_execution_id, start_time, end_time, status, commit_count, read_count, filter_count, write_count, read_skip_count, write_skip_count, process_skip_count, rollback_count, exit_code, exit_message, last_updated) VALUES (137, 56, 'step1', 137, '2021-10-03 18:54:30.589', '2021-10-03 18:54:32.468', 'COMPLETED', 54, 499, 0, 499, 0, 0, 0, 0, 'COMPLETED', '', '2021-10-03 18:54:32.469');


--
-- Data for Name: batch_step_execution_context; Type: TABLE DATA; Schema: public; Owner: rmuser
--

INSERT INTO public.batch_step_execution_context (step_execution_id, short_context, serialized_context) VALUES (1, '{"@class":"java.util.HashMap"}', NULL);
INSERT INTO public.batch_step_execution_context (step_execution_id, short_context, serialized_context) VALUES (103, '{"@class":"java.util.HashMap","batch.taskletType":"org.springframework.batch.core.step.item.ChunkOrientedTasklet","productItemReader.read.count":84448,"batch.stepType":"org.springframework.batch.core.step.tasklet.TaskletStep"}', NULL);
INSERT INTO public.batch_step_execution_context (step_execution_id, short_context, serialized_context) VALUES (34, '{"@class":"java.util.HashMap","batch.taskletType":"org.springframework.batch.core.step.item.ChunkOrientedTasklet","productItemReader.read.count":0,"batch.stepType":"org.springframework.batch.core.step.tasklet.TaskletStep"}', NULL);


--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: rmuser
--

INSERT INTO public.product (id, composition, dominant_color, gender_id, photo, sleeve, title, url) VALUES ('PJ2801-00-LD3', '100% Coton', '{245,244,246}', 'GIR', '//image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-FR-Site/Sites-master/default/PJ2801_LD3_24.jpg?sw=458&sh=443', 'Manches courtes', 'Polo Enfant Lacoste en mini piqu├⌐ chin├⌐', 'https://www.lacoste.com/fr/lacoste/enfant/fille/polos/polo-enfant-lacoste-en-mini-pique-chine/PJ2801-00.html?dwvar_PJ2801-00_color=LD3');
INSERT INTO public.product (id, composition, dominant_color, gender_id, photo, sleeve, title, url) VALUES ('PH3468-00-166', '100% Coton', NULL, 'MAN', '//image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-FR-Site/Sites-master/default/PH3468_166_24.jpg?sw=458&sh=443', 'Manches courtes', 'Polo Lacoste regular fit uni avec poche', 'https://www.lacoste.com/fr/lacoste/homme/vetements/polos/polo-lacoste-regular-fit-uni-avec-poche/PH3468-00.html?dwvar_PH3468-00_color=166');
INSERT INTO public.product (id, composition, dominant_color, gender_id, photo, sleeve, title, url) VALUES ('PH5692-00-3WH', '100% Coton', NULL, 'MAN', '//image1.lacoste.com/dw/image/v2/AAQM_PRD/on/demandware.static/Sites-FR-Site/Sites-master/default/PH5692_3WH_24.jpg?sw=458&sh=443', '', 'Polo color block Lacoste LIVE Edition AGI & SAM', 'https://www.lacoste.com/fr/collection-agi-and-sam/polo-color-block-lacoste-live-edition-agi-sam/PH5692-00.html?dwvar_PH5692-00_color=3WH');


--
-- Name: batch_job_execution_seq; Type: SEQUENCE SET; Schema: public; Owner: rmuser
--

SELECT pg_catalog.setval('public.batch_job_execution_seq', 2018, true);


--
-- Name: batch_job_seq; Type: SEQUENCE SET; Schema: public; Owner: rmuser
--

SELECT pg_catalog.setval('public.batch_job_seq', 1950, true);


--
-- Name: batch_step_execution_seq; Type: SEQUENCE SET; Schema: public; Owner: rmuser
--

SELECT pg_catalog.setval('public.batch_step_execution_seq', 2018, true);


--
-- Name: batch_job_execution_context batch_job_execution_context_pkey; Type: CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_job_execution_context
    ADD CONSTRAINT batch_job_execution_context_pkey PRIMARY KEY (job_execution_id);


--
-- Name: batch_job_execution batch_job_execution_pkey; Type: CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_job_execution
    ADD CONSTRAINT batch_job_execution_pkey PRIMARY KEY (job_execution_id);


--
-- Name: batch_job_instance batch_job_instance_pkey; Type: CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_job_instance
    ADD CONSTRAINT batch_job_instance_pkey PRIMARY KEY (job_instance_id);


--
-- Name: batch_step_execution_context batch_step_execution_context_pkey; Type: CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_step_execution_context
    ADD CONSTRAINT batch_step_execution_context_pkey PRIMARY KEY (step_execution_id);


--
-- Name: batch_step_execution batch_step_execution_pkey; Type: CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_step_execution
    ADD CONSTRAINT batch_step_execution_pkey PRIMARY KEY (step_execution_id);


--
-- Name: batch_job_instance job_inst_un; Type: CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_job_instance
    ADD CONSTRAINT job_inst_un UNIQUE (job_name, job_key);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: idx2gi03oht571gsnsvllxu1q19x; Type: INDEX; Schema: public; Owner: rmuser
--

CREATE INDEX idx2gi03oht571gsnsvllxu1q19x ON public.product USING btree (id);


--
-- Name: batch_job_execution_context job_exec_ctx_fk; Type: FK CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_job_execution_context
    ADD CONSTRAINT job_exec_ctx_fk FOREIGN KEY (job_execution_id) REFERENCES public.batch_job_execution(job_execution_id);


--
-- Name: batch_job_execution_params job_exec_params_fk; Type: FK CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_job_execution_params
    ADD CONSTRAINT job_exec_params_fk FOREIGN KEY (job_execution_id) REFERENCES public.batch_job_execution(job_execution_id);


--
-- Name: batch_step_execution job_exec_step_fk; Type: FK CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_step_execution
    ADD CONSTRAINT job_exec_step_fk FOREIGN KEY (job_execution_id) REFERENCES public.batch_job_execution(job_execution_id);


--
-- Name: batch_job_execution job_inst_exec_fk; Type: FK CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_job_execution
    ADD CONSTRAINT job_inst_exec_fk FOREIGN KEY (job_instance_id) REFERENCES public.batch_job_instance(job_instance_id);


--
-- Name: batch_step_execution_context step_exec_ctx_fk; Type: FK CONSTRAINT; Schema: public; Owner: rmuser
--

ALTER TABLE ONLY public.batch_step_execution_context
    ADD CONSTRAINT step_exec_ctx_fk FOREIGN KEY (step_execution_id) REFERENCES public.batch_step_execution(step_execution_id);


--
-- PostgreSQL database dump complete
--

